@use '../../base/variables' as variables;

.countdown-container {
  background-color: variables.$black;
  border: 2px solid var(--cg-bkg-primary-main);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .countdown-progress-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }

  .countdown-text-container {
    display: flex;
    justify-content: center;

    .countdown-text {
      color: var(--cg-bkg-primary-light);
      cursor: default;
      font-weight: bold;
      font-size: variables.$font-xs;
      padding-top: 0.5rem;
      text-align: center;
      user-select: none;

      @media (min-width: variables.$sm) {
        font-size: variables.$font-sm;
      }
    }
  }
}
