@use '../../../base/variables' as variables;

.login-form-grid {
  background-color: var(--cg-text-primary);
  border-radius: 10px;
  text-align: center;
  color: var(--cg-bkg-primary-light);
  margin: 0rem 1rem;
  padding: 1rem;
}

@media (min-width: variables.$sm) {
  .login-form-grid {
    margin: 0;
    max-width: 450px;
    padding: 2rem;
  }
}

.login-form-title {
  padding-bottom: 1rem;
}

.form-login-error {
  margin-top: 1.5rem;
  text-align: left;
}

.login-form-grid .form-text-fieldset {
  margin-top: 1.5rem;
}

.login-form-grid .form-text-fieldset:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px var(--cg-bkg-secondary-light);
}

.login-form-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
