@use '../base/variables' as var;

.new-game-container {
  padding: 8rem 0.5rem;
  max-width: 450px;
}

.checking-game-bck {
  min-height: 100vh;
  background-color: var(--cg-bkg-secondary-light);
  padding: 4rem;
}
