:root{
   --principal-font: Montserrat, sans-serif;

   /* --- COLORS ---*/
   /* Body */
   --cg-body-color: #D3B5D3;
   /* Buttons: primary and secondary*/
   --cg-btn-first-bg:  #FE44FE;
   --cg-btn-first-bg-hover: #D938D9;
   --cg-btn-first-txt: #fff;
   --cg-btn-second-bg: #FD9FFD;
   --cg-btn-second-bg-hover: #DF8CDF;
   --cg-btn-second-txt: gray;

}

body {
        background-color: var(--cg-body-color);
}

.btn-first-cornie {
        background-color: var(--cg-btn-first-bg);
        color: var(--cg-btn-first-txt);
}

.btn-first-cornie:hover {
        background-color: var(--cg-btn-first-bg-hover);
}

.btn-second-cornie {
        background-color: var(--cg-btn-second-bg);
        color: var(--cg-btn-second-txt);
}

.btn-second-cornie:hover {
        background-color: var(--cg-btn-second-bg-hover);
        color: var(--cg-btn-first-txt);
}

h1, hr, label {
        color: var(--cg-btn-first-bg-hover);
}

