@use 'variables' as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$principal_font;
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

img {
  max-width: 95%;
  /* **** */
  /* Se recomienda poner estas propiedades ya que las imagenes en el HTML se deben configurar con un width=300 y un height=200 */
  width: 100%;
  height: auto;
  /* **** */
  display: block;
}
