@use 'variables' as v;

:root {
  /* --- COLORS ---*/
  --cg-bkg-primary-light: #a44fbb; /* theme.palette.primary.light */
  --cg-bkg-primary-main: #8e24aa; /* theme.palette.primary.main */
  --cg-bkg-primary-dark: #631976; /* theme.palette.primary.dark */
  --cg-text-primary: #fff; /* theme.palette.primary.contrastText */
  --cg-bkg-secondary-light: #ee99fc; /* theme.palette.secondary.light */
  --cg-bkg-secondary-main: #ea80fc; /* theme.palette.secondary.main */
  --cg-bkg-secondary-dark: #a359b0; /* theme.palette.secondary.dark */
  --cg-btn-second-txt: gray;
  --cg-btn-third-txt: black;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$principal_font;
  font-size: v.$font-xs;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--cg-bkg-secondary-light);
  text-decoration: none;
}

h1 {
  font-size: v.$font-lg;
}

h2 {
  font-size: v.$font-md;
}

h3 {
  font-size: v.$font-sm;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.box-shadow {
  box-shadow: 0px 5px 5px rgba(68, 2, 131, 0.5);
}

.bkg-layout {
  background-color: var(--cg-bkg-secondary-light);
  margin: 0;
  min-height: 100vh;
}

.bkg-layout.fixed-navbar-footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bkg-layout.fixed-footer {
  display: grid;
  grid-template-rows: 1fr auto;
}

a.contrast-text-hover:hover {
  color: var(--cg-text-primary);
}

.page-section-container {
  margin: 0 auto;
  max-width: 1200px;
}

.navbar_link {
  color: var(--cg-bkg-primary-dark);
}

.navbar-menu-item {
  padding: 1rem;
}
