// Font
$principal_font: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// Colors
$green: #4cb8b3;
$pink: #f53756;
$yellow: #fef46d;
$purple: #752f97;
$black: #000;
$white: #fff;
$grey: #e1e1e1;

$pink-btn-first-bg: #fe44fe;
$pink-btn-first-hover: #d938d9;

// Screen sizes https://mui.com/material-ui/customization/breakpoints/
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
