:root{
    --principal-font: Montserrat, sans-serif;
 
    /* --- COLORS ---*/
    --cg-bkg-primary-light: #a44fbb;   /* theme.palette.primary.light */
    --cg-bkg-primary-main:  #8e24aa;       /* theme.palette.primary.main */
    --cg-bkg-primary-dark: #631976;  /* theme.palette.primary.dark */
    --cg-text-primary: #fff;          /* theme.palette.primary.contrastText */
    --cg-bkg-secondary-light: #ee99fc;     /* theme.palette.secondary.light */
    --cg-bkg-secondary-main: #ea80fc;       /* theme.palette.secondary.main */
    --cg-btn-second-bg-hover: #a359b0; /* theme.palette.secondary.dark */
    --cg-btn-second-txt: gray;

  }

.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    color: #a44fbb;
}

.bkg-register-login {
    background-color: var(--cg-bkg-secondary-light);
    min-height: 100vh;
    padding: 4rem;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: var(--cg-bkg-secondary-light);
    text-decoration: none;
}