apiVersion: v1
kind: Secret
metadata:
  name: game-db-cluster-auth
  namespace: one-game
  labels:
    cnpg.io/reload: "true"
type: kubernetes.io/basic-auth
stringData:
  username: one-game-game-user
  password: sample-dummy-password
