@use '../../base/variables' as variables;

.register-form-grid {
  background-color: var(--cg-text-primary);
  border-radius: 10px;
  text-align: center;
  color: var(--cg-bkg-primary-light);
  padding: 3rem;
  margin: 0rem 2rem;
}

@media (min-width: variables.$sm) {
  .register-form-grid {
    margin: 0;
    max-width: 450px;
  }
}
