@use '../../../base/variables' as variables;

.register-page-container {
  min-height: 100vh;

  .register-error-container {
    margin-top: 1rem;
  }

  .register-form-grid {
    background-color: var(--cg-text-primary);
    border-radius: 10px;
    text-align: center;
    color: var(--cg-bkg-primary-light);
    padding: 1rem;
    margin: 0rem 1rem;

    .form-text-fieldset {
      margin-top: 1rem;

      &:hover {
        border-radius: 5px;
        box-shadow: 0px 0px 10px 10px var(--cg-bkg-secondary-light);
      }
    }

    .return-cornie-button {
      margin-top: 1rem;
    }
  }

  .register-form-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .register-form-title {
    padding-bottom: 1rem;
  }

  .form-register-error {
    margin-top: 1rem;
    text-align: left;
  }

  .form-register-success {
    margin-top: 1rem;
    text-align: left;
  }
}

@media (min-width: variables.$sm) {
  .register-form-grid {
    margin: 0;
    max-width: 450px;
  }
}
