@use '../base/variables' as variables;

.active-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cg-bkg-primary-main);
  border: 2px solid var(--cg-bkg-secondary-light);
  border-radius: 10px;
  box-shadow:
    0 2px 4px 0 rgba(186, 120, 248, 0.5),
    0 3px 10px 0 rgba(107, 52, 158, 0.5);
  margin: 0.5rem;
  padding: 1rem;
}

.active-game .active-game-text {
  color: var(--cg-text-primary);
  text-align: center;
  font-size: variables.$font-sm;
}

.active-game .active-game-button-join {
  background-color: var(--cg-bkg-primary-dark);
  height: 2.5rem;
  width: 7rem;
  font-weight: bold;
  box-shadow:
    0 4px 8px 0 rgba(223, 192, 252, 0.5),
    0 6px 20px 0 rgba(202, 159, 241, 0.5);
}

.active-game .active-game-button-join:hover {
  background-color: var(--cg-bkg-secondary-main);
  font-weight: bold;
}
