@use '../base/variables' as variables;

.home-button-container {
  background-color: variables.$white;
  padding: 2rem 0;
  width: 100%;
}

.home-button-container .home-button {
  display: block;
  margin: 1rem auto;
}

.home-description {
  color: var(--cg-bkg-primary-main);
  display: none;
}

.home-description-mobile {
  color: var(--cg-bkg-primary-main);
  padding: 0rem 4rem;
  text-align: center;
}

.login-form-grid {
  background-color: var(--cg-text-primary);
  border-radius: 10px;
  text-align: center;
  color: var(--cg-bkg-primary-light);
  padding: 3rem;
  margin: 0rem 2rem;
}

@media (min-width: variables.$sm) {
  .login-form-grid {
    margin: 0;
    width: 450px;
  }
}

.register-form-grid {
  background-color: var(--cg-text-primary);
  border-radius: 10px;
  text-align: center;
  color: var(--cg-bkg-primary-light);
  padding: 3rem;
  margin: 0rem 2rem;
}

@media (min-width: variables.$sm) {
  .register-form-grid {
    margin: 0;
    width: 450px;
  }
}
@media (min-width: variables.$sm) {
  .home-description-mobile {
    display: none;
  }

  .home-description {
    display: inherit;
    padding: 0rem 4rem;
    text-align: center;
  }
}

.home-auth-container .home-auth-text {
  color: var(--cg-bkg-primary-dark);
  display: block;
  margin: 1rem auto;
  padding: 2rem 0;
  text-align: left;
}

.home-auth-text-game {
  color: var(--cg-bkg-primary-dark);
  text-align: center;
  padding: 1rem 2rem;
}

.home-auth-container-games {
  border: 1px solid var(--cg-bkg-primary-dark);
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(68, 2, 131, 0.5),
    0 6px 20px 0 rgba(68, 2, 131, 0.5);
  color: var(--cg-bkg-primary-dark);
  padding: 3px 3px;
}

.home-auth-button-container {
  display: flex;
  justify-content: end;
  margin: 1rem auto;
  padding: 1rem 0;
}

.pending-game {
  display: grid;
  justify-content: center;
  justify-items: center;
  border: 1px solid var(--cg-bkg-primary-dark);
  border-radius: 10px;
  box-shadow:
    0 2px 4px 0 rgba(68, 2, 131, 0.5),
    0 3px 10px 0 rgba(68, 2, 131, 0.5);
  margin: 5px 5px;
}

.pending-button-game {
  padding: 2rem 0;
}
