@use '../../base/variables' as variables;

.login-form-grid {
  background-color: var(--cg-text-primary);
  border-radius: 10px;
  text-align: center;
  color: var(--cg-bkg-primary-light);
  padding: 3rem;
  margin: 0rem 2rem;
}

@media (min-width: variables.$sm) {
  .login-form-grid {
    margin: 0;
    width: 450px;
  }
}
